.homepage {
    width: 100%;
    position: absolute;
    top: 50px;
}

.video {
    width: 95%;
    margin-left: 2.55%;
    filter: blur(10px);
    opacity: 0.5;
}

.intro__text {
    position: absolute;
    top: 100px;
    left: 150px;
    max-width: 800px;
    font-size: xx-large;
    color: rgb(0, 0, 0);
}
