.userDashboard {
    position: absolute;
    top: 100px;
    display: flex;
    flex-flow: row;
}

.userDashboard__card {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px;
}

.requestsContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 100px;
}

.requests {
    display: flex;
    flex-flow: row;
}

.requests__pendingRequests, .requests__acceptedRequests {
    display: flex;
    flex-flow: column;
    margin: 30px;
}

.request {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px 0;
}
