.navBar {
    position: fixed;
    background-color: rgba(175, 169, 255, 0.955);
    width: 100%;
    z-index: 99;
}

a {
    color: black;
}

a:hover {
    font-weight: 500;
}

.siteLogo {
    font-weight: bold;
    font-size: 20px;
    width: 250px;
    text-align: center;
    align-self: center;
    order: -3;
}
